<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>awscloudevops-cloudevops</id>
      <username>aws</username>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
  </servers>
  
  <mirrors>
    <mirror>
      <id>awscloudevops-cloudevops</id>
      <name>awscloudevops-cloudevops</name>
      <url>https://awscloudevops-825765392170.d.codeartifact.us-east-1.amazonaws.com/maven/cloudevops/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>awscloudevops-cloudevops</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>awscloudevops-cloudevops</id>
          <url>https://awscloudevops-825765392170.d.codeartifact.us-east-1.amazonaws.com/maven/cloudevops/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
</settings>

